<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Home</title>
</head>

<body>

    <div class="container">
        <div class="heading-container">
            <h1>HOME</h1>
        </div>
        <div class="create-container">
            <form action="/userdata/new" method="get">
                <button type="submit">CREATE</button>
            </form>
        </div>
        <div class="data-container">
            <% for (let i=0; i< datas.length; i++){ %>
                <div class="datas-container">
                    <b>From</b><span><%= datas[i].from %></span>
                    <br>
                    <b>To</b><span><%= datas[i].to %></span>
                    <br>
                    <b>DATE</b><span><%= datas[i].created_at.toString().split(" ").slice(0, 4).join("-") %></span>
                    <br>
                    <b>MESSAGE</b><span><%= datas[i].msg %></span>
                    <br>
                    <form action="/userdata/update/<%= datas[i]._id %>" method="get">
                        <button type="submit">EDIT</button>
                    </form>
                    <form action="/userdata/delete/<%= datas[i]._id %>" method="get">
                        <button type="submit">DELETE</button>
                    </form>
                </div>
            <% } %>
        </div>


    </div>

</body>

</html>